.container-router {
    position: absolute;
    width: 100%;
    padding-top: 10%;
}
.homepage-container {
    background: rgba(0, 0, 0, 0.8);    
    box-shadow: -2px 1px 48px -6px rgba(247,234,234,0.77);
    -webkit-box-shadow: -2px 1px 48px -6px rgba(247,234,234,0.77);
    -moz-box-shadow: -2px 1px 48px -6px rgba(247,234,234,0.77);
    width: 50%;
    margin: auto;
    display: flex;
    padding: 10px;
} 
#logo-bt {
    width: 50px;
    height: 50px;
}
.account-content {
    display: flex;
    flex-direction: column;
}
.generate-pass {
    text-align: center;
    padding: 5px;
}
.account-userID {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.account-content {
    font-size: 15px;
    color: rgba(195, 195, 195, 0.9);
}
.account-content label, .current-time {
    text-align: left;
}
#userID {
    background: none;
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid rgba(195, 195, 195, 0.9);
    outline: none;
    color: white;
}
#userID:hover {
    background-color: rgba(82, 82, 82, 0.3);
    border-radius: 3px;
}
.current-time {
    color: rgba(195, 195, 195, 0.9);
    margin-top: 20px;
}
.generate-password-button button {
    background: none;
    color: rgba(195, 195, 195, 0.9);
    width: 100%;
    padding: 3px;
    border: 0.5px solid rgba(195, 195, 195, 0.9);
}
.generate-password-button button:hover {
    background-color: rgba(82, 82, 82, 0.3);
}

@media only screen and (max-width: 300px) {
    .homepage-container {
        width: 80%;
        padding: 5px;
        font-size: 10px;
    }
    #userID {
        width: 90%;    
    }
    .account-userID {
        padding: 0px;
    }  
    .account-content {
        font-size: 10px;
    }
    .generate-password-button button {
        font-size: 8px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 301px) {
    .homepage-container {
        width: 80%;
        padding: 10px;
        font-size: 10px;
    }
    .account-userID {
        padding: 5px;
    }  
    .account-content {
        font-size: 10px;
    }
    .generate-password-button button {
        font-size: 10px;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .homepage-container {
        width: 60%;
    }
    .account-userID {
        padding: 5px;
    }  
}
@media only screen and (min-width: 1001px) {
 
    .homepage-container {
        width: 70%;
        font-size: 20px;
    } 
    .account-content {
        font-size: 20px;
    }
    .account-userID {
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }
    .account-content label, .current-time, .account-content {
        font-size: 20px;
    }
    #userID {
        width: 100%;
        height: 20px;
        margin-top: 15px;
    }
    .current-time {
        margin-top: 20px;
    }
    .generate-password-button button {
        font-size: 20px;
        padding: 10px;
    }
     
}